<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" /></script>

</head>

</html>

<body class="pushable">
    <div class="ui inverted menu  ">
        <div class=" item"> <a href="/">Home</a></div>
        <div class=" item"> <a href="/SignIn">SignIn</a></div>
        <div class=" item"> <a href="/signUp">SignUp</a> </div>
    </div>
    <div class="ui middle aligned center aligned grid"> 
         <div class="ui vertical stripe segment" >
            <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui container">
                    <div class="ui text container">
                        <h1 class="ui inverted header">Projet NodeJS</h1>
                        <h2 class="">Acceuil</h2>
                    </div>
                </div>
    
            </div>
        </div>  
    </div>
</body>